<% if @users.blank? %>
<p>There are not books</p>
<% else %>
<p>These are current Users.</p>

<ul>
<% @users.each do |u| %>
<li>
 <div><%= u.photo%></div>
 <h2><%= link_to u.name, {:action => 'show', :id => u.id}  %></h2>
 <p>Number of posts: <%= u.posts.length %> </p>
  </li>
<% end %>
</ul>
<% end %>
