* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background-color: #000;
  color: #fff;
  font-size: 0.9rem;
  letter-spacing: 3px;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  margin: 1rem;
  text-align: center;
  font-size: 2rem;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 1rem;
  gap: 1rem;
}

img {
  width: 300px;
  margin-inline: 1rem;
}

#user-container,
#post-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

#post-container {
  flex-direction: column;
  padding: 1rem;
}

#user-bio {
  text-align: center;
  margin: 1rem;
}

.button {
  margin-inline: 5rem;
}
